/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
*/
  
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 1rem;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./img/fundo1_portfolio.jpg);
    font-family: "Poppins" , sans-serif;
  }
  
  form {
    width: 100%;
    max-width: 30rem;
  }
  
  label,
  input,
  textarea,
  button {
    display: block;
  }
  
  input,
  textarea,
  button {
    width: 100%;
    font: inherit;
    padding: 1.25rem;
    font-weight: 700;
  }
  
  input,
  textarea {
    margin-bottom: 1rem;
    color: white;
    background: #3c5349;
    border: 0.125rem solid transparent;
    border-radius: 1.125rem;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  input:hover,
  input:focus,
  textarea:hover,
  textarea:focus {
    outline: none;
    border-color: #2ecc71;
    box-shadow: 0 0 0 0.3125rem #274a26;
  }
  
  label {
    margin-bottom: 0.5rem;
    color: #ffffff;
  }
  
  textarea {
    min-height: 12.5rem;
    resize: vertical;
  }
 
  /*
  button {
    border: none;
    border-radius: 99px;
    color: white;
    background: #2ecc71;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button:hover,
  button:focus {
    outline: none;
    background: #203d2c;
  }
  
  button:disabled {
    cursor: not-allowed;
    background: #556962;
  }
  */

  .enviar{ /* Design para o botão de enviar do formulário*/
    color: #2ecc71;
    background: transparent;
    border:solid 1px #2ecc71;
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    cursor: pointer;
    width: 480px;
  }
  
  .enviar:hover{ /* Para mudar a cor do botão de enviar do formulário*/
    background-color: #2ecc71;
    color: #fff;
    transition: 0.5s;
  }
  
  .success,
  .error {
    text-align: center;
  }
  
  .success {
    color: greenyellow;
  }
  
  .error {
    color: greenyellow;
  }